.headline{
    color: white;
    font-size: 3rem;
    font-family: monospace;
    font-style: italic;
}
.scheadline{
    color: white;
    font-size: 2rem;
    font-family: Arial;
    float: right;
    padding: right:20%;
}
.abheadline{
    float: right;
    padding-right: 20%;
}
.horizontal{
    display: inline;
    margin: 10px;
}
.scheadline a{
    color: rgb(56, 56, 56);
}
.scheadline a:hover{
    color:white;
}
.scheadline a:active{
    color: white;
}
.quote{
    text-align: center;
    color: white;
    font-size: 6rem;
    margin-top: 10%;
    font-family:Impact;
}
.btn{
    color:black;
    text-decoration: none;
    text-align: center;
}
.ending{
    color: grey;
  
}
.row{padding-top: px;
     padding-left: 50px;
}
.row img{width: 275px;
    height: 200px;
}

.rule{color: blue;}
.intro{text-decoration: none;
       font-size: 3rem;  
   
}

.details{
    text-align: center;
    padding-right: 50px;
}

.selection{
    width: 700px;
    height: 700px;
    background-color: white;
    margin-left: 200px;
    padding: 20px;
}
.hotelsample img{
    width: 150px;
    height: 150px;
}

.ctlable a{
    color: aliceblue;
}

.thirdheadline{
    color: white;
    text-align: center;
    padding-right: 100px;
    padding-top: 40px;
}
.pad{
    padding: 7px;
}
.service{
    width: 100%;
    height: 180px;
    background-color:rgb(39, 39, 39);
    margin-left: 50px;
}
.textco{
    color:white;
}